h1
{
  color: red;
}

h4
{
    color: blue;
}

h5
{
    color: indigo;
}

/*Ejemplo directiva ngClass*/
.si
{
    background-color: green;
}

.no
{
    background-color: red;
}
/*Fin ejemplo directiva ngClass*/