<h3>Conceptos básicos.</h3>

<h4>--Propiedades de las etiquetas html dinámicas--</h4>

<p [hidden]="oculto">
	Esta es una prueba de mostrar y ocultar.
</p>

<button (click)="ocultar(false)" [hidden]="!oculto">Mostrar</button>

<button (click)="ocultar(true)" [hidden]="oculto">Ocultar</button>

<br>

<h4>--Valor de doble dirección de una etiqueta input (ngModel)--</h4>

<label for="texto">{{textoprueba}}</label>
<br>
<input type="text" name="text" id="text" [(ngModel)]="textoprueba">

<br>

<h4>--Implementación de directivas (ngClass)--</h4>

<p>
    <button
    [ngClass]="{si: estado, no: !estado}"
    (click)="cambiarEstado()"
    >{{textosino}}</button>
</p>

<h4>--Implementación de directivas (ngFor)--</h4>

<h5>Animales</h5>

<ul *ngFor="let animal of listarAnimales()">
    <li>{{animal}}</li>
</ul>

<h4>--Implementación de directivas (ngIf)--</h4>

<p (mouseover)="sobreponerMouse()" (mouseout)="retirarMouse()">Poner el cursor sobre esta linea de texto.</p>

<img src="../assets/images/bosque1.jpg" width="300" height="200" *ngIf="!mostrarImagen"/>
<img src="../assets/images/bosque2.jpg" width="300" height="200" *ngIf="mostrarImagen"/>